<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>About Us</span>
                    <li>
                        <a href="#">History</a>
                    </li>
                    <li>
                        <a href="#">Certifications</a>
                    </li>
                    <li>
                        <a href="#">Our Awards</a>
                    </li>
                    <li>
                        <a href="#">Environment</a>
                    </li>
                    <li>
                        <a href="#">Press &amp; Coverage</a>
                    </li>
                    <li>
                        <a href="#">Our Clients</a>
                    </li>
                    <li>
                        <a href="#">Trustpilot Reviews</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>Help</span>
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                    <li>
                        <a href="#">Support Guides</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                    <li>
                        <a href="#">Reseller Resources</a>
                    </li>
                    <li>
                        <a href="#">Down to Business Hub</a>
                    </li>
                    <li>
                        <a href="#">Newsletter</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>Artwork</span>
                    <li>
                        <a href="#">Create Your Own</a>
                    </li>
                    <li>
                        <a href="#">Artwork Prices</a>
                    </li>
                    <li>
                        <a href="#">Supplying Artwork</a>
                    </li>
                    <li>
                        <a href="#">Printing Paper Sizes</a>
                    </li>
                    <li>
                        <a href="#">Templates</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>Contact Us</span>
                    <li>
                        <a href="#">Leave us a Message</a>
                    </li>
                    <li>
                        <a href="#">Instant Quote</a>
                    </li>
                    <li>
                        <a href="#">Tel: 01702460047</a>
                    </li>
                    <li>
                        <a href="#">Sample Packs</a>
                    </li>
                    <li>
                        <a href="#">Current Vacancies</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>Social Media</span>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Google+</a>
                    </li>
                    <li>
                        <a href="#">Linkedin</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-list">
                    <span>My Account</span>
                    <li>
                        <a href="#">Login | Register</a>
                    </li>
                    <li>
                        <a href="#">Delivery Information</a>
                    </li>
                    <li>
                        <a href="#">Trackable Delivery</a>
                    </li>
                    <li>
                        <a href="#">White Label</a>
                    </li>
                    <li>
                        <a href="#">Payment Queries</a>
                    </li>
                    <li>
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>