<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Edit Category</h4>
        </div>
        <div class="content">
            <form role="form" [formGroup]="categoryForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Category Name" formControlName="name">
                                    <validation-message [control]="categoryForm.controls.name"></validation-message>
                                </div>
                            </div>
                        </div>
                        <div class="row" formGroupName="config">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Discounts Applied?</label>
                                    <input type="checkbox" formControlName='hasDiscountsApplied'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Taxable?</label>
                                    <input type="checkbox" formControlName='taxable'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Free Delivery?</label>
                                    <input type="checkbox" formControlName='freeDelivery'>
                                </div>
                            </div>
                        </div>
                        <div class="row" formGroupName="seo">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Meta Keywords</label>
                                    <input type="text" class="form-control border-input" placeholder="Meta Keywords" formControlName='metaKeywords'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Meta Description</label>
                                    <input type="text" class="form-control border-input" placeholder="Meta Keywords" formControlName='metaDescription'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Meta Title</label>
                                    <input type="text" class="form-control border-input" placeholder="Meta Keywords" formControlName='metaTitle'>
                                    <validation-message [control]="categoryForm.controls.seo.controls.metaTitle"></validation-message>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" formControlName='description'></textarea>
                                    <validation-message [control]="categoryForm.controls.description"></validation-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <img [src]="image" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Choose Image</label>
                                    <input type="file" id="image" (change)="onFileChange($event.target.files)" #fileInput>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" name="save" class="btn btn-info btn-fill" value="Save" />
                    <button type="button" class="btn btn-info btn-fill" [routerLink]="['/admin/category']">Back</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>