.poster1
{
    background:url(/assets/img/sun-set1.jpg);
}

.fill {
    min-height: 467px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333333;
    padding: 10px;
}

.sign-in{
    background-color: #ccc;
    padding: 20px;
}